#pingpong-nav {
  background-image: url(https://cdn.anovaculinary.com/wp-content/uploads/2017/06/IMG_8281.jpg);
  background-color: lightgray;
}

.nav-buttons {
  color: black;
  background-color: lightgrey;
  border: 1px solid grey;
  border-bottom: 0;
  border-top-right-radius: 0.5rem;
}
.nav-buttons:hover {
  color: lightgrey;
  background-color: grey;
}

.gold {
  color: rgb(224, 190, 0);
  font-weight: bolder;
}

.silver {
  color: silver;
  font-weight: bolder;
}

.bronze {
  color: #cd7f32;
  font-weight: bolder;
}

.nav-section:not(:target) {
  display: none !important;
}

.bg-greyish {
  background-color: rgb(247, 250, 249);
}
.hidden {
  display: none;
}
.shown {
  display: inline;
}
